<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="about">
            <h1>About Me</h1>
            <p>Hi, I'm Yajath, a passionate and detail-oriented software developer with a strong foundation in HTML, CSS, JavaScript, and Flask. With a keen eye for design and a love for problem-solving, I craft innovative solutions that are both functional and visually appealing. My passion for coding drives me to continuously learn and improve, and I'm excited to showcase my skills and accomplishments on this portfolio website.</p>
        </section>
        <section id="skills">
            <h1>Skills</h1>
            <ul>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>Python</li>
                <li>Flask</li>
            </ul>
        </section>
        <section id="projects">
            <h1>Projects</h1>
            <ul>
                <li>E-Library</li>
                <li>Portfolio Website</li>
                <li>Influencer-sponsor coordination platform</li>
                <li>....</li>
            </ul>
        </section>
        <section id="contact">
            <h1>Contact Me</h1>
            <p>Get in touch with me at <a href="mailto:yajath@example.com">yajath@example.com</a></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Yajath</p>
    </footer>
</body>
</html>